/* Importation des styles de base de Tailwind CSS */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Réinitialisation des styles de base */
* {
    box-sizing: border-box;
    text-decoration: none;
    padding: 10px;
    margin: 0;
}

/* Styles généraux pour le corps de la page */
body {
    min-height: 120vh;
    color: var(--text);
    background-color: var(--background);
    font-family: "Open Sans", sans-serif;
    line-height: 1.25;
    padding: 5px; /* Ajuste pour mobile */
}

:root {
    --text: #1D1D1F;
    --background: #FAFAFA;
    --border: rgba(255, 255, 255, .25);
    --shadow: rgba(0, 0, 0, 0.25);
}

html, body {
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto; /* Ajuste pour mobile */
    flex-direction: column; /* Pour mobile */
}

ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    list-style-type: none;
    width: 100%;
    height: 100%;
}

a.MENU {
    color: var(--text);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 350px;
    transition: 0.3s;
}

nav a {
    position: relative;
    font-size: 1.1em;
    color: var(--secondary);
    text-decoration: none;
    padding: 6px 20px;
    transition: 0.5s;
}

nav a:hover {
    color: var(--accent);
    transform: scale(1.2);
}

.StudentCard {
    position: relative;
    height: auto; /* Pour mobile */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.StudentCard h1 {
    color: var(--text);
    justify-content: center;
}

.card {
    max-width: 2000px;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px;
    border: 1px solid var(--border);
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.45);
    box-shadow: 0 0 20px 5px var(--shadow);
    backdrop-filter: blur(15px);
    opacity: 0.75;
}

.card-footer {
    font-size: 1em;
    font-weight: bold;
    color: var(--text);
}

footer {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--background);
    min-width: 90px;
    z-index: 1;
}

.dropdown-content a {
    padding: 10px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Media Queries pour les écrans jusqu'à 600px */
@media only screen and (max-width: 600px) {
    header, nav ul, .StudentCard, footer {
        flex-direction: column;
    }

    nav ul {
        width: 100%;
    }

    nav a {
        margin: 5px 0;
        text-align: center;
    }

    .dropdown-content a {
        padding: 10px;
    }

    body > *:not(footer), footer > *, .card {
        width: 100%; /* Assure que les éléments s'étendent sur toute la largeur */
        padding: 0 5px; /* Ajoute un peu d'espacement */
    }
}
